body, body * {
    font-family: 'Montserrat', sans-serif;
   /* color: #494949;*/
}

body ,html{
    background-color: #40a63d1a;
/*    height:100%;*/
}

/* Write all your CSS here! */
.lang{
	border-radius: 1000px;
	margin:5px;
}
.language{
	display: flex;
	justify-content: space-between!important;
	flex-direction: row;
	height: 100%;
	
	  flex-wrap: wrap;
}
.logo{
	display: flex;
	color: #de0336;
	height:50px;
	font-family: 'Montserrat', sans-serif !important;
	width:50px;
}
.capital{
	font-size: 1.5em;
}
b::first-letter {
    font-size: 1em;
    color:#de0336 ;
}


.second{
	background-color: #494949;
	color:#aaaaaa ;
	  font-family: 'Montserrat', sans-serif !important;
}
h2 {
    color: #494949;
}
.container {
    display: grid;
    color: #494949
}

.col-6 {
    background-color: #2da745;
    color: white;
    font-size: 12px;
    padding: 5px;
    margin-left: 17px;
}

.colorChange{
	color:#2da745;
}
@media only screen and (max-width: 800px) {

.container{
	display: ;
}

}
/*
#cards{
	display: grid !important ;
	
	color:#494949;
}

h2{
	display: flex;
	justify-content: flex-start;
	margin-top:20px ;
	margin-bottom: 20px;

}*/